.button {
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    font-weight: 600;
    transition: all 0.3s ease;
    padding: 13px 17px;
    border-radius: 25px;
    min-width: fit-content;

}

.custom-hover-button:hover {
    background-color: #aae800 !important;
    color: var(--titles-color) !important;

  }

.navigation.scrolling .button {
    opacity: 1;
}

.button:disabled {
    cursor: not-allowed;
    background-color: #d3d3d3;
    color: #a9a9a9;
}
@media (max-width: 640px) {
    .button {
        padding: 10px 14px;
        font-size: 14px;
        border-radius: 20px;

    }
}