.card {
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    background-color: var(--bs-card-bg);
    justify-content: center;
    border-radius: 25px;
    box-shadow: 12px 12px 20px #e6e8de, -15px -15px 30px var(--base-color);

    animation: fadeIn 0.9s;

}
