.logo {
    color: var(--titles-color);
    background-clip: text;
    -webkit-background-clip: text;
    transition: all  0.2s ease-in-out;
}
.w {
    text-shadow: var(--titles-color) 1px 1px 0;
}
.logo:hover {
    color: var(--lime-color);
    text-shadow: var(--titles-color) 1px 1px 0;
}

.logo .highlight {
    color: var(--lime-color);
}

