/* Font imports */
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Inter:wght@500&family=Jost:wght@300;400;500;600;700&display=swap");

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
:root {
  --base-color: #f9fcf3;
  --bs-card-bg: #f4f8ef;
  --buttons-color: #3B763B;
  --titles-color: #2A522A;
  --secondary-color: #eff5de;
  --lime-color: #b5f517;
  --errorRed: #e30b0b;
  --errorLightRed: #fde8e8;
  --bs-gray: #9CA3AF;
  --bs-black: black;
  --bs-green: #16A34A;
  --bs-white: white;
}


.dark {
  --base-color: #2A522A;
  --buttons-color: #E4EBCF;
  --titles-color: #F0F6E1;
  --secondary-color: #E4EBCF;
  --lime-color: #aae800;
}

/* Global styles */
html, body, #root {
  height: 100svh;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--base-color);
  font-family: Jost, sans-serif;
  scroll-behavior: smooth;
  position: relative;
  width: 100%;
  min-height: 100vh;

}

h1, h2, h3, h4, h5, h6, p, button {
  color: var(--titles-color);
}


@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--base-color);
  }
}
