.card {
    max-width: 90rem;
    margin: auto;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 13px 13px 20px #dbdfcc,
    -13px -13px 20px #faffeb;
    animation: fadeIn 1.1s;
}
