:root {
    --base-color: #eff4e1;
    --buttons-color: #307a30;
    --titles-color: #2A522A;
    --secondary-color: #E4EBCF;
    --lime-color: #bfff00;
}

.footer {
    background: transparent;
    padding: 20px 40px; /* Padding for the footer */
    text-align: center;
    border-radius: 25px 25px 0 0;
    color: var(--lime-color);
    width: 98.8%;
    height: 100px;
    animation: fadeIn 1.4s;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.logo-link:hover {
    color: var(--base-color);
}

.logo {
    line-height: 150%;
}

.w_in_logo {
    color: var(--base-color);
}
