/* Common styles for placeholder icons */
.placeholder-icon,
.placeholder-icon1,
.placeholder-icon2 {
    width: 20%;
    height: 39px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

/* General styles for subheadings and body text */
.subheading,
.subheading1,
.subheading2,
.body-text-for,
.body-text-for1,
.body-text-for2 {
    font-size: 20px;
    line-height: 150%;
    font-weight: 500;
    color: #828282;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}


.placeholder-parent,
.placeholder-group,
.placeholder-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

/* Frame parents and wrappers */
.frame-parent5,
.frame-parent6,
.frame-parent4,
.frame-wrapper2,
.frame-wrapper3,
.frame-wrapper4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.frame-parent5 {
    flex-direction: column;
    gap: 8px;
}

.frame-parent6 {
    flex: 1;
    flex-direction: column;
    gap: 10px;
}

.frame-parent4 {
    flex-direction: column;
    gap: 46px;
}

/*.frame-wrapper2,*/
/*.frame-wrapper3,*/
/*.frame-wrapper4 {*/
/*    align-self: stretch;*/
/*    flex-direction: row;*/
/*    padding-left: 1px;*/
/*    box-sizing: border-box;*/
/*}*/
.text-content,
.content-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    text-align:left;
    max-width: 100%;
}

.text-content {
    width: 100%;
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 24px;
    color: #2a522a;
    font-family: inherit;
    padding-left: 30px;
}

.content-inner {
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    box-sizing: border-box;
    min-width: 90%;
}
