.sign-up,.login{
    cursor: pointer;
    background-color:var(--buttons-color);
    border: none;
    color: #bfff00;
    width: 95%;
    height: fit-content;
    padding: 20px 39px;
    border-radius:35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.login{
    background-color: var(--lime-color);
    color: black;
}
.sign-up:hover {
    background-color: #619c61;
    transform: scale(0.98);
}

.login:hover {
    background-color: rgb(92, 122, 8);
    transform: scale(0.98);
    color: var(--lime-color);
}
.terms-container{
    text-align: center;
    margin-top: 10px;
}

.fields {
    width: 100%;
    padding: 75px 5px 5px 5px;
}
.fields input {
    width: 100%;
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color: #555;
    padding:20px 10px 20px 5px;

}
.username, .password {
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #ffffff;
}