.sign-up,.login{
    cursor: pointer;
    border: none;
    width: 93%;
    height: fit-content;
    color: var(--titles-color);
    border-radius:35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}
.login{
    background-color: var(--lime-color);
    color: black;
}

.terms-container{
    text-align: center;
    margin-top: 10px;
}

.fields {
    width: 100%;
    padding: 75px 5px 5px 5px;
}
.fields input {
    width: 100%;
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color: #555;
    padding:20px 10px 20px 5px;

}
.username, .password {
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #ffffff;
}