.navigation {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
    align-items: center;
    background: transparent;
    width: 100vw;
    height: 120px;
    color: var(--titles-color);
    font-family: Jost, sans-serif;
    animation: fadeInDown 1.4s;
    position: sticky;
    top: 0;
    border-radius: 0 0 25px 25px;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    min-width: 390px;

}

.navigation.glassy {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: inset 6px 6px 12px rgba(203, 209, 184, 0.60), inset -6px -6px 12px #feffef;
    transition: all 0.3s ease-in-out;
}
.menu-button {
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    font-weight: 600;
    transition: all 0.9s ease; /* Smoother transition */
    padding: 0.7rem;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #dbdfcc, -13px -13px 20px #faffeb;
    min-width: fit-content;


}

.menu-button:hover {
    box-shadow: 5px 5px 12px rgba(203, 209, 184, 0.60), -5px -5px 12px #faffeb;
    color: #497549;

}



@media screen and (max-width: 550px) {
    .navigation {
        padding: 0;
        margin: 0;
        justify-content: center;
        height:auto;

    }

}

  