.form {
    width: 40%;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 20px; /* Add space between form groups */
}

.form-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin-bottom: 10px; /* Add space between form rows */
}

label {
    display: block;
    width: fit-content;
    font-weight: bold;
    margin-bottom: 5px; /* Add a small space below labels */
}

.input-register {
    width: 90%;
    margin-top: 5px;
}

.select {
    padding: 10px;
}



/* Add space between input containers within a form row */
.form-row .input-container {
    width: 45%; /* Adjust as needed */
}

/* Add space between input containers that are direct children of form-group */
.form-group > .input-container {
    margin-bottom: 15px;
}